<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "Library.Mapper.LibraryRentalBookMapper">

<insert id="Rental" parameterType = "Map">
	insert into rentalbook values (rental_seq.nextval,#{n_no},#{b_no},sysdate)
</insert>

<delete id="ReturnBook" parameterType = "Map">
	delete from rentalbook where n_no = #{n_no} and b_no = #{b_no}
</delete>

<select id="SearchRental" parameterType = "Map" resultType="rentalBook">
	select * from rentalbook where n_no = #{n_no} and b_no = #{b_no}
</select>

</mapper>